<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>List of Participants</title>
</head>

<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container text-center">
            <h1 class="display-4">SOUNDHOLIC</h1>
            <p class="lead">MUSIC IS THE SOUNDTRACK OF YOUR LIFE</p>
            <hr class="my-4">
        </div>
    </div>
    <div class="container" style=color:beige>
        <table class="table  table-striped table-dark" style=color:beige>
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Contact number</th>
                    <th scope="col">Institute</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>kamal</td>
                    <td>raja@gmail.com</td>
                    <td>234242</td>
                    <td>Saveetha Engg College</td>
                </tr>
                <tr>
                    <td>sanjay</td>
                    <td>@gmail.com</td>
                    <td>236262</td>
                    <td>Saveetha Engg College</td>
                </tr>
                <tr>
                    <td>roxy</td>
                    <td>roxy@gmail.com</td>
                    <td>254782</td>
                    <td>Saveetha Engg College</td>
                </tr>
                <tr>
                    <td>sammy</td>
                    <td>sammy@gmail.com</td>
                    <td>241682</td>
                    <td>Saveetha Engg College</td>
                </tr>
                <tr>
                    <td>saffz</td>
                    <td>saffz@gmail.com</td>
                    <td>278452</td>
                    <td>Saveetha Engg College</td>
                </tr>
                <tr>
                    <td>jai surya</td>
                    <td>gj23@gmail.com</td>
                    <td>245942</td>
                    <td>Saveetha Engg College</td>
                </tr>
                <tr>
                    <td>lamy</td>
                    <td>lamy3@gmail.com</td>
                    <td>2145982</td>
                    <td>Saveetha Engg College</td>
                </tr>
                <tr>
                    <td>danny</td>
                    <td>danns@gmail.com</td>
                    <td>2344562</td>
                    <td>Saveetha Engg College</td>
                </tr>
                <tr>
                    <td>soni</td>
                    <td>sonish@gmail.com</td>
                    <td>2344789</td>
                    <td>Saveetha Engg College</td>
                </tr>
                <tr>
                    <td>vincent</td>
                    <td>vincent@gmail.com</td>
                    <td>234242</td>
                    <td>Saveetha Engg College</td>
                </tr>
                <tr>
                    <td>swetha</td>
                    <td>sweths@gmail.com</td>
                    <td>234245</td>
                    <td>Saveetha Engg College</td>
                </tr>
                <tr>
                    <td>peppy</td>
                    <td>peps@gmail.com</td>
                    <td>234242</td>
                    <td>Saveetha Engg College</td>
                </tr>



            </tbody>
        </table>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>